<div [hidden]="!loading"> 
  <div class="container">
    <div class="row" >
      <div  class="col-6">
        <h2>{{group.name}}</h2> 
      </div >
      <div class="col-6" [hidden]="user == undefined">
        <div  [hidden] = "group.creatorUserId != user.id">
          <button style="width: 100px; margin-right: 10px;" class="btn btn-info btn-sm" (click)="inviteMembers()">Invite members</button>
          <button style="width: 100px; margin-right: 10px;" class="btn btn-info btn-sm" (click)="showUsersInGroup()">Users</button>
          <button style="width: 100px; margin-right: 10px;" class="btn btn-info btn-sm" (click)="showAllRemarks()">Remarks</button>
          <button style="width: 100px;" class="btn btn-info btn-sm" [routerLink]="['/test']">Create Test</button>
        </div> 
      </div>           
     </div>
  </div>  
  <div class="container">
    <div class="row">
      <div class="col-7" [hidden]="!testsLoaded">  
        <div [hidden] = "group.tests != undefined && group.tests.length != 0">
          <div [hidden]="user == undefined">
            <div [hidden] = "group.creatorUserId == user.id">
              <h5>There is no tests yet. Please wait until admin creates one</h5>
            </div>
          </div>
          <div [hidden]="user == undefined">
            <div [hidden] = "group.creatorUserId != user.id">
              <h5>There is no tests yet. Create a new one!</h5>
            </div>
          </div>         
        </div>
        <div [hidden] = "group.tests == undefined" class="mat-elevation-z8">
          <table style="border-spacing: 20px;" mat-table matSort  [dataSource]="testsDataSource">
            <ng-container  matColumnDef="nameTest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Names</th>
                <td style="padding-right: 10px; max-width: 290px; word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.nameTest}} </td>
            </ng-container>
          
            <ng-container  matColumnDef="passTest">
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">
                    <button style="width: 100px;" class="btn btn-info btn-sm" (click)="passTest(element.id)">Pass test</button>                            
                </td>
            </ng-container>   
            
            <ng-container  matColumnDef="seeResults">
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">                            
                    <button style="width: 100px;" class="btn btn-info btn-sm" (click)="showResultsOnTest(element.id)">See Results</button>
                </td>
            </ng-container> 

            <ng-container  matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef></th>
              <td [hidden]="group.creatorUserId != user.id" style="padding-right: 10px;" mat-cell *matCellDef="let element">                            
                  <button style="width: 70px;" class="btn btn-warning btn-sm" (click)="updateTest(element.id)">Update</button>
              </td>
            </ng-container> 

            <ng-container  matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td [hidden]="group.creatorUserId != user.id" mat-cell *matCellDef="let element">
                    <button style="width: 70px;" class="btn btn-danger btn-sm" (click)="deleteTest(element.id)">Delete</button>
                </td>
            </ng-container> 
          
            <tr mat-header-row *matHeaderRowDef="displayedTestsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTestsColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>  
      </div>      
      <div class="col-4">
        <div [hidden]="selectedTest == null">
          <div [hidden] = "showResult"><h5>You have no results on this test yet. Please pass test =)</h5></div>
        </div>         
        <div [hidden] = "!showResult" class="mat-elevation-z8">
          <table style="border-spacing: 20px;" mat-table matSort  [dataSource]="resultsDataSource">
            
            <ng-container  matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <ng-container  matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>   
            
            <ng-container  matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td  mat-cell *matCellDef="let element">                            
                  <button [hidden] = "element.status != 'PASSED'" style="width: 100px;" class="btn btn-info btn-sm" (click)="showDetailsOnResult(element.date)">Details</button>                         
                  <button [hidden] = "element.status == 'PASSED'" style="width: 100px;" class="btn btn-warning btn-sm" (click)="finishTest(element.testId)">Finish it!</button>
                </td>
            </ng-container> 
          
            <tr mat-header-row *matHeaderRowDef="displayedResultsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedResultsColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>        
      </div> 
    </div>
  </div>
</div>
<div [hidden]="loading" class="container">
  <div class="row">
      <div class="col-4 center-block">
          <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
      </div>
  </div>    
</div>
  

