<div *ngIf = "this.loading == true"> 
  <h2>Welcome to the Group: {{group.name}}</h2>
 <div><strong>Share link to invite people: {{group.link}}</strong><button class="btn btn-info btn-sm" (click)="copyLinkToClipboard()">Copy link</button>
 </div> 
 <div *ngIf = "this.group.creatorUserId == this.user.id">
  <button class="btn btn-info btn-sm" (click)="showUsersInGroup()">Users</button>
  <button class="btn btn-info btn-sm" (click)="showAllRemarks()">Remarks</button>
 </div>
  <div class="container">
    <table>
      <div class="row justify-content-start">
        <tr>
          <td class="col-6">
            <div *ngIf="this.testsLoaded == true">    
                <table class="table table-striped">
                  <tr>
                    <th class="col-6">Names</th>
                    <th class="col-3">Actions</th>    
                    <th class="col-3"></th> 
                  </tr>
                  <tbody>
                    <tr *ngFor = "let test of group.tests">
                      <td class="col-6">{{test.nameTest}}</td>
                      <td class="col-3"><button class="btn btn-info btn-sm" (click)="passTest(test.id)">Pass test</button></td>
                      <td class="col-3"><button class="btn btn-info btn-sm" (click)="showResultsOnTest(test.id)">See results</button></td>
                      <div *ngIf = "this.group.creatorUserId == this.user.id">
                        <td class="col-3"><button class="btn btn-warning btn-sm" (click)="passTest(test.id)">Update</button></td>
                        <td class="col-3"><button class="btn btn-danger btn-sm" (click)="passTest(test.id)">Delete</button></td>
                      </div>
                    </tr>
                  </tbody>
                </table>    
                <div *ngIf = "this.group.creatorUserId == this.user.id">
                  <button class="btn btn-info btn-sm btn-block" [routerLink]="['/test']">Create new Test</button>
                </div>    
            </div>
          </td>
      
          <td class="col-6" *ngIf = "this.showResult == true">
            <table class="table table-striped">
              <tr>
                <th class="col-3">Date</th>
                <th class="col-3">Status</th>  
                <th class="col-3">Action</th>       
              </tr>
              <tbody>
                <tr *ngFor = "let result of this.results">
                  <td class="col-3" >{{result.date}}</td>  
                  <td class="col-3" >{{result.status}}</td>  
                  <td class="col-3" *ngIf="result.status == 'PASSED'"><button class="btn btn-info btn-sm" (click)="showDetailsOnResult(result.date)">Details</button></td>   
                  <td class="col-3" *ngIf="result.status == 'NOT PASSED'"><button class="btn btn-warning btn-sm" (click)="finishTest(result.testId)">Finish it!</button></td>          
                </tr>
              </tbody>
            </table>    
          </td>
      
        </tr>
      </div>
      
    </table>
  </div>

  

</div>
  

