
<div *ngIf="loading==true" class="container">
    <div class="col-6">
        <table class="table table-striped">
            <tr>
                <th>Groups that I created</th> 
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let createdGroup of this.user.createdGroups">
                    <td>{{createdGroup.name}}</td>
                    <td><button class="btn btn-info btn-sm" (click)="goToGroup(createdGroup.id)">Show</button></td>
                    <td><button class="btn btn-warning btn-sm" (click)="updateGroup(createdGroup.id)">Update</button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="deleteGroup(createdGroup.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info btn-sm btn-block" (click)="createGroup()">Create new Group</button>
        <div *ngIf="loadCreateForm == true" class="row justify-content-center">
            <div *ngIf="!!error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
        </div>
        <div *ngIf="loadCreateForm == true" class="row justify-content-center">           
            <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit($event)">
                <div class="form-group">
                    <label for="GroupName">Name:</label>
                    <input
                        class="form-control"
                        id="GroupName"
                        name="GroupName"
                        type="text"
                        placeholder="Name"
                        formControlName="GroupName">                     
                </div>
                <div>
                    <button class="btn btn-info btn-sm btn-block" type="submit">Create</button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-6">
        <table class="table table-striped">
            <tr>
                <th class="col-6">Groups where I consist</th>
                <th class="col-3"></th>    
            </tr>
            <tbody>
                <tr *ngFor="let group of this.user.groups">
                    <td>{{group.name}}</td>
                    <td><button class="btn btn-info btn-sm" (click)="goToGroup(group.id)">Show</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


