<div  class="container">
  <div class="row justify-content-end">

    <div class="col col-md-4 offset-md-4">
      <button (click)="showReport()"  class="btn btn-danger btn-md  btn-outline-primary">Report</button>
    </div>
  </div>
  <h2 class="display-4">{{test.nameTest}}</h2>
  <div *ngIf="isQuestions" class="row">
    <div   class="card  border shadow p-3  bg-white rounded col" style="width: 180rem;">
      <p><ngb-progressbar type="success" [value]="questionId" [max]="test.questions.length-1"></ngb-progressbar></p>

      <!--<img class="card-img-top " href="" height="50px" width="100px"  alt="Card image cap">-->
      <div *ngIf="test.questions[questionId].typeQuestion == 'ONE_ANSWER'" class="card-body">
        <h4 class="card-title">{{test.questions[questionId].textQuestion}}</h4>
        <div  class="form-check mb-2" *ngFor="let answer of test.questions[questionId].answers">
          <input (click)="addReplyWithOneAnswer(answer)" #selectedAnswer type="radio" class="" id="One" name="OneAnswerRadios" required="required">
          <label class="form-check-label ml-4" for="One">{{answer.textAnswer}}</label>
        </div>
      </div>

      <div *ngIf="test.questions[questionId].typeQuestion == 'MULTIPLE_ANSWER'" class="card-body">
        <h4 class="card-title">{{test.questions[questionId].textQuestion}}</h4>
        <div class="form-check mb-2" *ngFor="let answer of test.questions[questionId].answers">
          <input (click)="addReply(answer)" #selectedAnswer type="checkbox" class="form-check-input"
                 required="required" id="Multiple" name="MultipleAnswerRadios">
          <label class="form-check-label ml-4" for="Multiple">{{answer.textAnswer}}</label>
        </div>
      </div>
    </div>

    <div *ngIf="test.questions[questionId].typeQuestion == 'OPEN'" class="card-body">
      <h5 class="card-title">{{test.questions[questionId].textQuestion}}</h5>
      <div class="form-check mb-2" *ngFor="let answer of test.questions[questionId].answers">
        <input type="text" value="Enter text...">
      </div>
    </div>

  </div>


</div>


<div *ngIf="results">

  <h2>Your answers</h2>
  <div >
    <!--<span>{{getCategoryName(result.categoryId)}}</span>-->
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Question</th>
        <th scope="col">Your answer</th>
      </tr>
      </thead>
      <tbody  *ngFor="let result of results; let i = index">
      <!--<div *ngIf="results[i].replies" >-->
      <tr *ngFor="let value of results[i].replies | keyvalue">
        <th scope="row">{{value.key  }}</th>
        <th>{{value.value}}</th>
      </tr>
      <!--</div>-->
      </tbody>

    </table>

  </div>

</div>

<div style="margin-top: 8px" class="row">
  <div *ngIf="!isFirst" class="col-sm">
    <button (click)="decrementIndex()" class="btn btn-secondary btn-lg">Previous Question</button>
  </div>


  <div *ngIf="buttonType == 1" class="col-sm">
    <button (click)="incrementIndex()" class="btn btn-primary btn-lg">Next Question</button>
  </div>

  <div *ngIf="buttonType == 2" class="col">
    <button (click)="testEnd()"   class="btn btn-success btn-lg">Finish test</button>
  </div>

  <div *ngIf="buttonType == 3" class="col">
    <button  [routerLink]="['/group/' + test.groupId]" class="btn btn-info btn-lg">Return to group menu</button>
  </div>



</div>

