<div>
  <div class="container">
    <div class="row">
      <div class="col-6 justify-content-center border profileForm">
        <h3 class="  text-center">Profile setting</h3>
     
        <form class="col-8 offset-2" [formGroup]="profileForm" (ngSubmit)="onSubmitProfile($event)">
          <mat-form-field  class="col-12" appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput required  formControlName="lastName" placeholder="Last name">
            <mat-error *ngIf="profileForm.controls.lastName.hasError('required')">Last name is required</mat-error>  
            <mat-error *ngIf="profileForm.controls.lastName.hasError('maxlength')">Last Name can not be longer than 20 chars</mat-error>
            <mat-error *ngIf="profileForm.controls.lastName.hasError('pattern')">Last Name can contain only english alphabets chars(can not start and end on space)</mat-error>
          </mat-form-field>
          <mat-form-field  class="col-12" appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput required  formControlName="firstName" placeholder="First name">
            <mat-error *ngIf="profileForm.controls.firstName.hasError('required')">First name is required</mat-error>  
            <mat-error *ngIf="profileForm.controls.firstName.hasError('maxlength')">First name can not be longer than 20 chars</mat-error>
            <mat-error *ngIf="profileForm.controls.firstName.hasError('pattern')">First name can contain only english alphabets chars(can not start and end on space)</mat-error>
          </mat-form-field>
          <mat-form-field  class="col-12" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput required  formControlName="phone" placeholder="+380">
            <mat-error *ngIf="profileForm.controls.phone.hasError('required')">Phone is required</mat-error>
            <mat-error *ngIf="profileForm.controls.phone.hasError('minlength')">Phone must be at least 9 characters</mat-error>
            <mat-error *ngIf="profileForm.controls.phone.hasError('maxlength')">Phone can not be longer then 9 characters</mat-error>
            <mat-error *ngIf="profileForm.controls.phone.hasError('pattern')">Phone can contain only number chars</mat-error>
          </mat-form-field>
       
        <div class="row justify-content-start">
          <div *ngIf="isShowBtnsProfile" class="col-2 offset-2">
            <button class="pl-3 pr-3 btn btn-success" (click)=(onSubmitProfile())>Save</button>
          </div>
          <div *ngIf="isShowBtnsProfile" class="col-2 offset-2">
            <button class="pl-3 pr-3 btn btn-danger" (click)=(onCancelProfile())>Cancel</button>
          </div>
          <div *ngIf="!isShowBtnsProfile" class="col-2 offset-2">
            <button style="padding-left: 10px;" class="pl-3 pr-3 btn btn-warning" (click)=(onEditProfile())>Edit</button>
          </div>
        </div>
        </form>
      </div>
      
      <div class="col-6 justify-content-center border accountForm">
        <h3 class="mb-4 text-center">Account setting</h3>
        <form class="col-8 offset-2" [formGroup]="accountForm" (ngSubmit)="onSubmitAccount($event)">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput required formControlName="email">
            <mat-error *ngIf="accountForm.controls.email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="accountForm.controls.email.hasError('pattern')">Wrong email pattern</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Old password</mat-label>
            <input matInput type="password" formControlName="passwordOld">
            <mat-error *ngIf="accountForm.controls.passwordOld.hasError('minlength')">Min 6 symbols</mat-error>
          </mat-form-field>         
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="passwordNew">
            <mat-error *ngIf="accountForm.controls.passwordNew.hasError('minlength')">Min 6 symbols</mat-error>
          </mat-form-field>         
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Confirmation password</mat-label>
            <input matInput type="password" formControlName="passwordConfirm">
            <mat-error *ngIf="accountForm.controls.passwordConfirm.hasError('minlength')">Min 6 symbols</mat-error>
            <mat-error *ngIf="!isEqualsPswrds && isSubmittedAccount">Password for confirmation doesn't match new password</mat-error>
          </mat-form-field>         
          <div class="row justify-content-start">
            <div *ngIf="isShowBtnsAccount" class="col-2 offset-2">
              <button class="pl-3 pr-3 btn btn-success" (click)=(onSubmitAccount())>Save</button>
            </div>
            <div *ngIf="isShowBtnsAccount" class="col-2 offset-2">
              <button class="pl-3 pr-3 btn btn-danger" (click)=(onCancelAccount())>Cancel</button>
            </div>
            <div *ngIf="!isShowBtnsAccount" class="col-2 offset-2">
              <button style="padding-left: 10px;" class="pl-3 pr-3 btn btn-warning" (click)=(onEditAccount())>Edit</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="col-8 offset-2">
    <div class="row justify-content-center border accountForm">
      <h3 class="text-center">Delete account</h3>
      <form class="col-12 " [formGroup]="deleteForm" (ngSubmit)="onDeleteAccount($event)">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Provide current password to confirm  delete account</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="deleteForm.controls.password.hasError('minlength')">Min 6 symbols</mat-error>
          <mat-error *ngIf="deleteForm.controls.password.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <button style="align-self: center;" class="pl-3 pr-3 btn btn-danger"  (click)=(onDeleteAccount())>Delete</button>
      </form>
    </div >
  </div>  
</div>



