<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="border-radius: 0px;">
    <div class="navbar-inner">
        <div class="container">
            <a class="navbar-brand col-sm-12 col-md-9 col-lg-10 col-xl-9" style="font-size: x-large; font-family: Arial black;" href="javascript:void(0)" (click)="groups()">Testeritto</a>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul *ngIf="isLoggedIn" class="navbar-nav   ml-auto">
                    <li class="nav-item">
                        <a class="nav-link col-sm" style="color: white;" href="javascript:void(0)" (click)="profile()">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link col-sm" style="color: white;" href="javascript:void(0)" (click)="groups()">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link col-sm" style="color: white;" href="javascript:void(0)" (click)="logout()">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
