<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-8" href="javascript:void(0)" (click)="groups()">Testeritto</a>
	<ul *ngIf="isLoggedIn" class="navbar-nav col-3">		
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0)" (click)="profile()">Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0)" (click)="groups()">Groups</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:void(0)" (click)="logout()">Sign out</a>
		</li>
	</ul>
</nav>
