<button class="btn btn-info btn-sm" (click)="goBackToGroup()"><i class="glyphicon glyphicon-menu-left"></i> Back</button>

<div [hidden]="!loading">
  <mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)" animationDuration="1000ms">
    <mat-tab label="Not viewed">
      <ng-template matTabContent>
        <div class="mat-elevation-z8">
          <table mat-table matSort  [dataSource]="NotViewedDataSource">
  
              <ng-container matColumnDef="testName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Test name</h4></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element"> {{element.testName}} </td>
              </ng-container>
          
              <ng-container matColumnDef="questionText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Question</h4></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">
                  <div [hidden]="element.questionText.length >= element.questLimit">
                      {{element.questionText}}
                      <button class="btn btn-sm" (click)="openQuestionText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                  </div>
                  <div [hidden]="element.questLimit > element.questionText.length">
                    {{element.questionText | truncate  : element.questLimit}}
                    <button class="btn btn-sm" (click)="openQuestionText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>                  
                </td>
              </ng-container>
            
              <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Remark</h4></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">
                  <div [hidden]="element.text.length >= element.remarkLimit">
                    {{element.text}} 
                    <button class="btn btn-sm" (click)="openRemarkText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>
                <div [hidden]="element.remarkLimit > element.text.length">
                  {{element.text | truncate  : element.remarkLimit}}
                  <button class="btn btn-sm" (click)="openRemarkText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>                  
                </td>
              </ng-container>
  
              <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">
                  <button  class="btn btn-warning btn-sm" (click)="changeQuestion(element.questionId, element.testName)"><i class="glyphicon glyphicon-pencil"></i></button>  
                </td>
              </ng-container>
  
              <ng-container matColumnDef="seen">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button style="width: 40px;" class="btn btn-success btn-sm" (click)="checkedAsViewed(element.id)"><i class="glyphicon glyphicon-ok"></i></button>  
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedNotViewedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedNotViewedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Viewed">
      <ng-template matTabContent>
        <div class="mat-elevation-z8">
          <table mat-table matSort   [dataSource]="ViewedDataSource">
  
              <ng-container matColumnDef="testName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Test name</h4></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element"> {{element.testName}} </td>
              </ng-container>
          
              <ng-container matColumnDef="questionText">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Question</h4></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">
                  <div [hidden]="element.questionText.length >= element.questLimit">
                      {{element.questionText}}
                      <button class="btn btn-sm" (click)="openQuestionText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                  </div>
                  <div [hidden]="element.questLimit > element.questionText.length">
                    {{element.questionText | truncate  : element.questLimit}}
                    <button class="btn btn-sm" (click)="openQuestionText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>                  
                </td>
              </ng-container>
            
              <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Remark</h4></th>
                <td style="padding-right: 10px;" mat-cell *matCellDef="let element">
                  <div [hidden]="element.text.length >= element.remarkLimit">
                    {{element.text}} 
                    <button class="btn btn-sm" (click)="openRemarkText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>
                <div [hidden]="element.remarkLimit > element.text.length">
                  {{element.text | truncate  : element.remarkLimit}}
                  <button class="btn btn-sm" (click)="openRemarkText(element)"><i class="glyphicon glyphicon-option-horizontal"></i></button>
                </div>                  
                </td>
              </ng-container>
            
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button  class="btn btn-danger btn-sm" (click)="delete(element.id)"><i class="glyphicon glyphicon-trash"></i></button>  
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedViewedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedViewedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div [hidden]="loading" class="container">
  <div class="row">
      <div class="center-block">
          <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
      </div>
  </div>    
</div>
